<DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.8">
      <meta http-equiv="X-UA-Compatible" content="ie-edge">
      <link href="style.css" rel="stylesheet" type="text/css" />
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <title>Snakisle Penitentiary</title>
    </head>
    <body style="background-color: #18191a;">
        <div style="width: 100%; height: 55%;"><img style="width: 30%; height: 100%; margin-left: 10%; float:left;" src="https://i.ibb.co/cyJcQtZ/snakislepen.png"><b style="width: 40%; height: 100%; margin-right: 9%; float:right; font-size: 2.5vw; color: white;">
            <div style="color: white; font-size: 4vw; text-align: center; margin-bottom: 4%; margin-top: 7%;">Welcome to <br><b style="color: #316cb8;">Snakisle Penitentiary</b> </div></b></div>

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            
            <form  action="/createprisoner" method="POST">  
                <div class="form-group">
  
                <br>
                <br>
                <input required placeholder="Full Name (Ex: Paul Bernardo)" type="text" name="name" id="name" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">
                <input required placeholder="Prison Sentence (Ex: Paul Bernardo received a life imprisonment sentence in 1995 with no chance of parole for 25 years. However, when he applied for parole, Paul Bernardo was repeatedly turned down.)" type="text" name="prison" id="prison" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">
                
                <br>
                <textarea placeholder="Description" name="description" id="description" class="form-control" style="width: 94%; margin-left: 3%; margin-right: 3%; font-size: 2vw; height: 20%;"></textarea>
                <br>
                
                <input required placeholder="Origin (Ex: Scarborough, Ontario)" type="text" name="origin" id="origin" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">
                <input required placeholder="Age (Time of imprisonment) (Ex: 31)" type="text" name="age" id="age" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">
                <input required placeholder="Gender (Ex: Male)" type="text" name="gender" id="gender" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">
                <input required placeholder="Languages Spoken" type="text" name="languages" id="languages" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">
                <input required placeholder="Attorney" type="text" name="attorney" id="attorney" class="form-control" style="height: 10%;  color: black; font-size: 2.5vw;  margin-left: 3%; margin-right: 3%; width: 94%;">

                <div class="form-group">
                
                  <br>
                  <button type="submit" class="btn btn-primary form-control" style="height: 10%; width: 94%; margin-left: 3%; margin-right: 3%;">Sign Up</button>
  
                </div>
              </form>
           
    </body>
    </html>