<DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.8">
      <meta http-equiv="X-UA-Compatible" content="ie-edge">
      <link href="style.css" rel="stylesheet" type="text/css" />
      <link rel="icon" href="https://i.ibb.co/0GKc5Qg/stockicon.png">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <title>Sarveshwar Stock Simulator</title>
    </head>
    <body style="background-color: #18191a;">
      
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <form  action="/" method="GET" style="width: 100%; height: 8%;">  
                <div class="form-group" style="width: 100%;">
        
                  <button type="submit" class="btn btn-primary form-control" style="width: 5%; margin-top: 2%; height: 100%; margin-right: 4%; font-size: 2vw; float: right; margin-bottom: 1%; ">🏠︎</button>
        
                </div>
              </form>
            <form  action="/search" method="GET">  
              <div class="form-group" style="width: 90%; margin-left: 5%; margin-top: 4%;">
                <input required placeholder="🔎 Stock Search" type="text"  name="query" id="query" class="form-control" style="height:10%; font-size: 2vw; width: 100%l">
                </div>
            </form>
            <div style="width: 86%; float: left; margin-left: 7%; margin-right: 7%; font-size: 3vw; color: white; margin-top: 3%;">
            
                <h1 style="font-weight: 500; font-size: 2.5vw;"><a href={{stockInfo.website}} target=”_blank” style="color: white; text-decoration: none;">{{ stockInfo.shortName }}</a> <sector style="color: #676767; font-size: 2vw;">({{ stockInfo.sector }})</sector> </h1>
                <h1 style="font-weight: 650;">{{ stockInfo.symbol }} 
                {% if stockInfo.priceChange >= 0 %}
                <priceChange style="color: #04b73c; font-size: 2.3vw;">
                {% else %}
                <priceChange style="color: #DC143C; font-size: 2.3vw;">
                {% endif %}
                    ({{ "{:,.2f}%".format(stockInfo.priceChange)}})
                </priceChange>
                <h1 style="font-size: 1.5vw; font-weight: 800;">Day <green style="color:#04b73c;">High</green>/<red style="color: #DC143C;">Low</red>:&emsp;<green style="color:#04b73c;">${{stockInfo.regularMarketDayHigh}}</green> / <red style="color: #DC143C;">${{stockInfo.regularMarketDayLow}}</red></h1>
              </h1>
              {% if stockInfo.priceChange >= 0 %}
                <price style="color: #04b73c; font-size: 4vw; font-weight: 700;">{{ "${:,.2f}".format(stockInfo.currentPrice) }}</price>
              {% else %}
                <price style="color: #DC143C; font-size: 4vw; font-weight: 700;">{{ "${:,.2f}".format(stockInfo.currentPrice) }}</price>
              {% endif %}

              <h1 style="font-weight: 500; font-size: 2.5vw; margin-top: 3%; font-weight: 650;">Additional Information: </h1>
              <h1 style="font-weight: 500; font-size: 2.5vw; font-weight: 500; color: #676767">Industry: {{stockInfo.industry}}</h1>
              <h1 style="font-weight: 500; font-size: 2.5vw; font-weight: 500; color: #7393B3">{{stockInfo.companyOfficers[0].title}}:  {{stockInfo.companyOfficers[0].name}}</h1>
              <h1 style="font-weight: 500; font-size: 2.5vw; font-weight: 500; color: #808080">{{stockInfo.address1}}, {{stockInfo.city}} {{stockInfo.state}}, {{stockInfo.country}}</h1>
              
              <h1 style="font-weight: 500; font-size: 1.5vw; font-weight: 500; color: #808080; margin-top: 3%; margin-bottom: 3%;">{{stockInfo.longBusinessSummary}}</h1>

         
          </div>
        </div>
        <br>
        <br>
        {% if stockInfo.max > 0 %}
        <form  action="/purchasestock" method="GET" style="margin-top: 3%;">  
              <div class="form-group" style="width: 90%; margin-left: 5%;">
                <input required placeholder="Purchase Shares (Max: {{stockInfo.max}})" max={{stockInfo.max}} type="number"  name="numberOfShares" id="numberOfShares" class="form-control" style="height:10%; font-size: 2vw; width: 100%; ">
                <button type="submit" name="symbol" id="symbol"value={{stockInfo.symbol}} class="btn btn-primary form-control" style="width: 100%; height: 10%;  font-size: 2vw; float: left; margin-bottom: 2%;">Purchase Shares</button>
                </div>
        </form>
        {% endif %}
        {% if stockInfo.owned > 0 %}
        <form  action="/sellstock" method="GET" style="margin-top: 3%;">  
            <div class="form-group" style="width: 90%; margin-left: 5%;">
              <input required placeholder="Sell Shares (Max: {{stockInfo.owned}})" max={{stockInfo.owned}} type="number"  name="numberOfShares" id="numberOfShares" class="form-control" style="height:10%; font-size: 2vw; width: 100%; ">
              <button type="submit" name="symbol" id="symbol"value={{stockInfo.symbol}} class="btn btn-danger form-control" style="width: 100%; height: 10%;  font-size: 2vw; float: left; margin-bottom: 5%;">Sell Shares</button>
              </div>
      </form>
      {% endif %}
        <br>
    </body>
    </html>